body {
  background-color: rgb(7, 22, 10) !important;
}

.card {
  height: 27.5rem !important;
}

.img-home {
  height: 27.3rem !important;
  object-fit: cover;
}

.img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 28rem;
  background: rgba(0, 0, 0, 0.5);
}
.card::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 180%;
  top: -35%;
  left: 35%;
  background-color: #00b2ca;
  z-index: 1;
}

.card:hover::before {
  animation: animate 2s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-body {
  padding: 2px !important;
  border-radius: 10px;
  z-index: 3;
  inset: 2px;
}
.btn {
  background-color: #00b2ca !important;
}
