{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-sm-3 col-6">
    <div class="card border-3 mb-0 text-light bg-success overflow-hidden">
      <div class="row card-body">
        <img
          src="{{ character.image }}"
          alt="{{ character.name }}"
          class="card-img-top"
        />

        <div class="card-body" style="background-color: rgb(7, 22, 10)">
          <h2 class="text-light text-center">{{ character.species }}</h2>
          <h2 class="text-light text-center">{{ character.gender }}</h2>

          {% if character.origin.name != "unknown" %} {% set location_id =
          character.origin.url.split("/")[-1] %}
          <h2>
            <p class="card-text text-center">
              <a
                class="btn btn-primary"
                href="{{ url_for('get_single_location', id=location_id) }}"
                alt="Localização e origem do personagem"
                >{{ character.origin.name }}</a
              >
            </p>
          </h2>
          {% else %}
          <p class="text-primary text-center">
            Nenhuma informação de origem disponível.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
