{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        <a class="text-decoration-none" href="/characters">
            <div class="card border-0 mb-3 text-light bg-success overflow-hidden">
                <div class="row card-body">
                    <img src="{{url_for('static', filename='images/characters.jpg')}}" class="card-img img-home"
                        alt="...">
                    <div class="card-img-overlay m-0">
                        <div class="card-body my-auto p-3">
                            <h5 class="card-title">Personagens</h5>
                            <p class="card-text">Acesse a listagem de personagens.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a class="text-decoration-none" href="/episodes">
            <div class="card border-0 mb-3 text-light bg-success overflow-hidden">
                <div class="row card-body">
                    <img src="{{url_for('static', filename='images/episodes.jpg')}}" class="card-img img-home"
                        alt="...">
                    <div class="card-img-overlay m-0">
                        <div class="card-body my-auto p-3">
                            <h5 class="card-title">Episódios</h5>
                            <p class="card-text">Acesse a listagem de episódios.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a class="text-decoration-none" href="/locations">
            <div class="card border-0 mb-3 text-light bg-success overflow-hidden">
                <div class="row card-body">
                    <img src="{{url_for('static', filename='images/locations.jpg')}}" class="card-img img-home"
                        alt="...">
                    <div class="card-img-overlay m-0">
                        <div class="card-body my-auto p-3">
                            <h5 class="card-title">Localizações</h5>
                            <p class="card-text">Acesse a listagem de localizações.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}